.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

### BOXLANG ###
.env
/libs/
src/test/resources/libs/*
!src/test/resources/libs/.gitkeep
src/test/resources/modules/bx-derby-*.zip
src/test/resources/modules/bx-derby/**
!src/test/resources/modules/bx-derby/.gitkeep
testbox/**
tests/results
